@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 10px auto;
    padding: 1rem 1rem;
    background-color: #eee5;
    color: #eee;
    border: 1px solid #eee9;
    width: 80%;
    height: 70px;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    position: relative;
    z-index: 14;
    display: flex;
    align-items: center;
    justify-content: center;
}
 nav{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
}
.left{
    grid-column: 1;
    grid-row: 1;
}
.right{
    grid-column: 3;
    grid-row: 1;
}
.left , .right{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
nav .title{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: "Satisfy", cursive;
}
details {
    display: none;
    list-style: none;
    margin: 0;
}
summary {
    list-style-type: none;
    cursor: pointer;
    padding: 0;
}
summary i {
    font-size: 1.6rem;
}
details ul {
    position: absolute;
    top: 0;
}


@media (max-width:1010px) {
    .left , .right{
        padding: 0 20px;
        min-width: fit-content;
    }
    .left span , .right span{
        padding: 0 6px;
    }
}
@media (max-width:650px) {
    .left , .right{
        padding: 0 10px;
        min-width: fit-content;
    }
    .left span , .right span{
        padding: 0 4px;
    }
}
@media (max-width:1000px) {
    nav {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
    }
    .left{
        grid-column: 2;
        grid-row: 1;
        display: none;
    }
    nav .title{
        display: block;
        grid-column: 1;
        grid-row: 1;
    }
    .nav-items{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    details{
        display: block;
        grid-column: 2;
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 22px;
    }

    .right{
        grid-column: 2;
        grid-row: 1;
        display: none;
    }
}

/* carousel */
.carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -40px;
}

.list{
    width: 100%;
    height: 100%;
}
.item{
    width: 100%;
    height: 100%;
    background: var(--bg-image);
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    /* transition: background 0.5s ease; */
}
.item img.fruit{
    width: 90%;
    position: absolute;
    /* to center an absolute position element */
    inset: 0;
    margin: auto;
    z-index: 15;
    pointer-events: none;
}
.item .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 14vw;
    color: white;
    font-weight: bolder;
    font-family: "Satisfy", cursive;
    text-transform: uppercase;
    white-space: nowrap;
}
@media (max-width:750px) {
    .item .content{
        font-size: 9rem;
    }
}
@media (max-width:650px) {
    .item .content{
        font-size: 5.6rem;
        top: 24%;
    }
}
.item{
    display: none;
}
.item.active{
    display: block;
}
.item.hidden{
    display: block;
    pointer-events: none;
    background-image: none;
    z-index: 1;
}
@keyframes toActive{
    from{
        top: 100%;
        opacity: 0;
    }
}
@keyframes toOut{
    from{
        top: 50%;
        opacity: 1;
    }
}
.item.active img.fruit{
    animation: toActive .5s ease-in-out 1 ;
}
.item.hidden img.fruit{
    animation: toOut 0.8s ease-in-out 1;
    top: -100%;
    opacity: 0;
}
.item.active .content{
    animation: toActive .8s ease-in-out 1;
    z-index: 12;
}
.item.hidden .content{
    opacity: 0;
}
:root{
    --width-mockup: calc(371px / 1.5);
    --height-mockup:calc(673px / 1.5);
}
.mockup{
    position: absolute;
    z-index: 14;
    /* inset: 0; */
    /* margin: auto; */
    top: 50%;
    left: 50%;
    --left: 0%;
    transform: translate(-50%,-50%);
    width: var(--width-mockup);
    height: var(--height-mockup);
    background: url(./images/mockup.png) 0 0 no-repeat, url(./images/listSoda.jpg) var(--left) 0 ;
    background-size: auto 100%;
    background-blend-mode: multiply;
    mask-image: url(./images/mockup.png);
    -webkit-mask-image: url(./images/mockup.png);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: auto 100%;
    -webkit-mask-size: auto 100%;
    transition: background .5s;
}

.leaves{
    position: absolute;
    z-index: 13;
    overflow: hidden !important;
    width: 170px;
    height: 170px;
    background-image: url(./images/leaves.png);
    background-size: 100%;
    top: calc(50% - (var(--height-mockup) / 1.7));
    left: calc(50% + (var(--width-mockup) / 5));
}
.shadow{
    width: var(--width-mockup);
    height: 100px;
    background-color: #0008;
    border-radius: 50%;
    position: absolute;
    z-index: 14;
    top: calc(50% + (var(--height-mockup) / 2));
    left: 50%;
    transform: translate(-50%);
    filter: blur(22px);
}
#prev,#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eee5;
    color: #eee;
    border: 1px solid #eee9;
    font-size: x-large;
    font-weight: bold;
    font-family: monospace;
    z-index: 15;
    cursor: pointer;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}
